/* No files to import found in abstractions/**\/* */
ol, ul {
  padding: 0;
}

ul {
  list-style: none;
}

img, media {
  max-width: 100%;
}

body {
  background-color: #FFFFFF;
  padding-top: 30px;
}

.l-footer {
  background-color: #000;
  padding-bottom: 30px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  line-height: 1.7;
  color: #505050;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  color: #1d1d1d;
}

a {
  text-decoration: none;
  color: #F6AD16;
}
a:hover {
  color: #1d1d1d;
}

.btn {
  font-size: 1em;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF2A22D3', endColorstr='#FF19147B');
  background-color: #2A22D3;
  border: 0;
  color: white;
  text-shadow: #141065 0 -1px 0;
  margin-bottom: 20px;
}
.btn:hover {
  text-decoration: none;
}
.btn:hover {
  background-color: #261ebd;
}
.btn:active {
  background-color: #231cb0;
}
.btn.disabled, .btn[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: false;
  cursor: default;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
.btn a {
  text-decoration: none;
  color: #FFF;
}

img {
  text-align: center;
}

.field--product-image {
  text-align: center;
}

footer {
  color: #FFF;
}
footer a {
  color: #FFF;
}
footer a:hover {
  color: #F6AD16;
}
footer a.active {
  color: #FFF;
}
footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
  color: #F6AD16;
}
footer .copyright {
  text-align: center;
}

.l-region--footer {
  padding-top: 20px;
}

.front-page-queue {
  text-align: center;
  margin-bottom: -1.5em;
  margin-top: 1em;
}
.front-page-queue li:last-child {
  padding-bottom: 20px;
}
.front-page-queue .views-row-1 {
  background-color: #F6AD16;
}
.front-page-queue .views-row-3 {
  background-color: #CAC9F1;
}
.front-page-queue .views-row-2 {
  background: #C8C8C8;
}
.front-page-queue .field--showcase-image {
  max-height: 400px;
  overflow: hidden;
}
.front-page-queue .field--showcase-image img {
  width: 100%;
}
.front-page-queue .field--solution-image {
  padding-top: 20px;
}

.front-page-queue li > div {
  width: 95%;
  margin: 0 auto;
}

.front-page-queue li > div.node--showcase {
  width: 100%;
}

.front-page-queue li > div {
  width: 90%;
}

.front-page-queue li > div.node--showcase {
  width: 100%;
}
.front-page-queue li > div.node--showcase .field--title, .front-page-queue li > div.node--showcase .field--body, .front-page-queue li > div.node--showcase .field--node-link {
  margin-left: 10%;
}

.front-page-queue li > div {
  width: 80%;
}

.front-page-queue li > div.node--showcase .field--title, .front-page-queue li > div.node--showcase .field--body, .front-page-queue li > div.node--showcase .field--node-link {
  margin-left: 20%;
}

.l-grid {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.l-grid > li {
  display: inline-block;
  margin: 0 0 10px 10px;
}

.site-name {
  margin-top: -.3em;
  margin-bottom: 0.25em;
}
.site-name a {
  color: #1d1d1d;
  text-decoration: none;
}
.site-name a:hover {
  color: #F6AD16;
}

.site-slogan {
  margin-top: -20px;
}

.site-logo {
  margin-right: 2em;
}

.l-postscript {
  padding-top: 40px;
}

nav h1, nav h2, nav h3, nav h4, nav h5, nav h6 {
  display: none;
}
nav a {
  text-decoration: none;
  color: #505050;
  padding: 5px 0;
}
nav a:hover, nav a.active {
  color: #F6AD16;
  border-bottom: 5px solid #F6AD16;
}
nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style-image: none;
}
nav ul:after {
  content: "";
  display: table;
  clear: both;
}
nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
nav ul li:first-child {
  padding-left: 0;
}
nav ul li:last-child {
  padding-right: 0;
}
nav ul li.last {
  padding-right: 0;
}
nav ul li {
  margin-right: 2em;
}
nav .menu .leaf {
  list-style-image: none;
  list-style-type: none;
}

.front .block--system-main-menu .first {
  display: none;
}

.l-region--navigation h1, .l-region--navigation h2, .l-region--navigation h3, .l-region--navigation h4, .l-region--navigation h5, .l-region--navigation h6 {
  display: none;
}

.l-grid .node--product--teaser {
  position: relative;
}

.l-grid .node--product--teaser .field--title {
  background: rgba(0, 0, 0, 0.4);
  display: block;
  text-align: center;
  color: #dedede;
  height: 5em;
  z-index: 100;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
  line-height: 1.2;
}
.l-grid .node--product--teaser .field--title a {
  color: #FFF;
}
.l-grid .node--product--teaser .field--title a:hover {
  color: #F6AD16;
}

.section-who-we-are .l-main {
  background-color: #CAC9F1;
}

.section-what-we-do .l-main {
  background-color: #F2F2F2;
}

.node--storyboard {
  text-align: center;
}

.storyboard-leader {
  padding-bottom: 100px;
}
