.section-who-we-are {
  .l-main {
    background-color: #CAC9F1;
  }
}

.section-what-we-do {
  .l-main {
    background-color: #F2F2F2;
  }
}

.node--storyboard {
  text-align: center;
}

.storyboard-leader {
  padding-bottom: 100px;
}