.front-page-queue {
  text-align: center;
  
  .views-row-1 {
    background-color: $orange; 
  }
  .views-row-3 {
    background-color: $lightBlue;
  }
  .views-row-2 {
    background: $blueGrey;
    @include breakpoint($tab) {
      position: relative;
      
      .overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        background: rgba(255, 255, 255, 0.35);
        height: 100%;
      }
    }
  }
  .field--showcase-image {
    max-height: 400px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  
  .field--solution-image {
    padding-top: 20px;
  }
  
  @include breakpoint($tab) {
    .node--solution {
      .field--title,
      .field--body,
      .field--node-link {
        width: 50%;
      }
    }
    
    .field--title,
    .field--body,
    .field--node-link {
      display: block;
      float: left;
      padding-left: 5em;
      margin-top: 20px;
    }
    
    text-align: left;
    
    .field--body{
      margin-bottom: 20px;
    }
    .field--solution-image {
      display: block;
      float: right;
      width: 50%;
      text-align: center;
      margin: 40px 0;
      padding: 0;
    }
  }
}