.site-name {
  margin-top: -.3em;
  margin-bottom: 0.25em;
  a{
    color: darken($fontColor, 20%);
    text-decoration: none;
    
    &:hover {
      color: $orange;
    }
  }
  
}

.site-slogan {
  margin-top: -20px;
}

.site-logo {
  @include breakpoint($desk) {
    float: left;
  }
  margin-right: 2em;
}