body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  line-height: 1.7;
  color: $fontColor;
}

#{headings(all)} {
  font-family: 'Ubuntu'; font-style: normal; font-weight: normal;
  color: darken($fontColor, 20%);
}

a {
  text-decoration: none;
  color: $orange;
  &:hover {
    color: darken($fontColor, 20%);
  }
}
